.title {
  display: flex;
}

.subtitle {
  display: flex;
  margin-top: 0.8rem;
}

.type,
.name {
  margin-right: 1rem;
}

.skills-wrapper {
  display: flex;
  margin-bottom: 3rem;
}

.skills {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 1rem;
  background-color: #2D2F2C;
  padding: 0.3rem 0.5rem;
  color: #F8C64D;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
}

.button {
  color: #F8C64D;
  background-color: #2D2F2C;
  border-radius: 0.8rem;
  border-color: #F8C64D;
}
