<div class="vacancy-item">
  <mat-card-title-group class="title-group">
    <mat-card-title class="title">
      <div class="name">
        {{ vacancy.title }}
      </div>
      <div class="salary">
        {{ vacancy.salary }}$
      </div>
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
      <div class="type">
        {{ vacancy.vacancyType.name }}
      </div>
      <div class="level">
        {{ vacancy.seniorityLevel.name }}
      </div>
    </mat-card-subtitle>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['interviews/create']" [state]="{vacancy}" mat-dialog-close>
          Add Interview
        </button>
      </mat-menu>
  </mat-card-title-group>
  <mat-card-content class="content">
    <div class="description">
      {{ vacancy.description }}
    </div>
    <div class="skills-wrapper">
      <div class="skills" *ngFor="let skill of skills$ | async">
        {{ skill.name }}
      </div>
    </div>
    <div class="button-wrapper">
        <button mat-button class="button" mat-dialog-close>
          Close
        </button>
        <button mat-button class="button">
          Apply
        </button>
    </div>
  </mat-card-content>
</div>
