.mat-toolbar {
  background-color: #2D2F2C;
  color: #E7EBDC;
}

.content {
  height: 120vh;
}

.logo {
  color: #F8C64D;
  cursor: pointer;
}

.mat-sidenav {
  background-color: #2D2F2C;
  width: 16rem;
  text-align: center;
}

.menu-content {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
}

.menu-content a {
  text-decoration: none;
}

.menu-button {
  color: #F8C64D;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  font-size: 1rem;
  width: 100%;
}

.burger-button {
  color: #F8C64D;
}

mat-divider {
margin-top: 1rem;
margin-bottom: 1rem;
background-color: #A49D9D;
}

.mat-button {
  color: #E7EBDC;
}

.mat-button:hover {
  color: #F8C64D;
}

.auth-button {
  color: #E7EBDC;
}

.auth-button:hover {
  color: #F8C64D;
}

.mat-list-item {
  color: #E7EBDC;
}

.mat-list-item:hover {
  color: #F8C64D;
}
