<mat-toolbar>
  <mat-toolbar-row>
    <button class="burger-button" mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h4 class="logo" [routerLink]="''">Boarding Tracker</h4>
    <ul class="menu-content">
        <li><a mat-button class="auth-button" (click)="openAuthDialog(false)">Sign In</a></li>
        <li><a mat-button class="auth-button" (click)="openAuthDialog(true)">Sign Up</a></li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
  <button mat-button class="menu-button" [routerLink]="'/vacancies'">
    <span>Vacancies</span>
  </button>
  <button mat-button class="menu-button" [routerLink]="'/candidates'">
    <span>Candidates</span>
  </button>
  <button mat-button class="menu-button" [routerLink]="'/recruiters'">
    <span>Recruiters</span>
  </button>
  <button mat-button class="menu-button" [routerLink]="'/interviews'">
    <span>Interviews</span>
  </button>
  <mat-divider></mat-divider>

  <button mat-button class="menu-button">
    <span mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</span>
  </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
