.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stepper {
  margin-top: 1rem;
}

.main-title {
  display: flex;
  justify-content: center;
  color: #F8C64D;
  margin-top: 1rem;
}

.first-button-wrapper {
  display: flex;
  justify-content: center;
}

.second-button-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-button {
  border: 0.1rem solid #F8C64D;
  border-radius: 1.5rem;
}

.content {
  display: flex;
  flex-direction: column;
}

.radio-button {
  margin-bottom: 1rem;
}

.auth-form-info {
  display: flex;
}

.contect-data {
  margin-right: 2rem;
}

.additional-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin-bottom: 0.7rem;
}

.auth-form-input {
  display: flex;
  flex-direction: column;
}
