<div class="sign-up">
  <mat-horizontal-stepper class="auth-horizontal-stepper">
    <mat-step>
      <h1 class="main-title">Sign Up</h1>
      <mat-radio-group [(ngModel)]="isRecruiterRole" class="content">
          <mat-radio-button class="radio-button" [value]="true">Recruiter</mat-radio-button>
          <mat-radio-button class="radio-button" [value]="false">Candidate</mat-radio-button>
      </mat-radio-group>
      <div class="first-button-wrapper">
        <button class="main-button" (click)="selectRole()" mat-button matStepperNext>Continue</button>
      </div>
    </mat-step>
    <mat-step>
      <h1 class="main-title">Sign Up</h1>
      <form [formGroup]="authFormInfo" class="auth-form-info">
        <div class="contect-data">
          <mat-form-field class="auth-form-input" appearance="outline">
            <mat-label>First Name</mat-label>
            <input class="input-form" matInput type="text" formControlName="firstName"/>
          </mat-form-field>
          <mat-form-field class="auth-form-input" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" formControlName="lastName"/>
          </mat-form-field>
          <mat-form-field class="auth-form-input" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email"/>
          </mat-form-field>
          <mat-form-field class="auth-form-input" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="text" formControlName="password"/>
          </mat-form-field>
          <mat-form-field class="auth-form-input" appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="text" formControlName="confirmPassword"/>
          </mat-form-field>
        </div>
        <div class="additional-data">
          <mat-form-field *ngIf="isCandidateFieldsShown" class="auth-form-input" appearance="outline">
            <mat-label>Phone number</mat-label>
            <input matInput type="text" formControlName="phoneNumber"/>
          </mat-form-field>
          <mat-form-field *ngIf="isCandidateFieldsShown" class="auth-form-input" appearance="outline">
            <mat-label>Short biography</mat-label>
            <input matInput type="text" formControlName="biography"/>
          </mat-form-field>
          <h3 class="title" *ngIf="isCandidateFieldsShown">Resume</h3>
          <mat-form-field *ngIf="isCandidateFieldsShown" class="auth-form-input" appearance="outline">
            <mat-label>Choose your resume</mat-label>
            <input matInput type="text" formControlName="resume"/>
          </mat-form-field>
          <h3 class="title">Profile Image</h3>
          <mat-form-field class="auth-form-input" appearance="outline">
            <mat-label>Choose an image</mat-label>
            <input matInput type="text" formControlName="image"/>
          </mat-form-field>
        </div>
      </form>
      <div class="second-button-wrapper">
        <button class="main-button" (click)="showCandidateFields()" mat-button matStepperPrevious>Previous</button>
        <button class="main-button" mat-button>Continue</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>

