<h4 class="vacancy-title">ADD-VACANCIES</h4>
<div class="add-vacancy-container">
  <div class="content">
    <form [formGroup]="addVacancyForm" class="add-form-info">
      <div class="content-inputs">
        <div class="content-names">
          <h3 class="name">Title :</h3>
        </div>
        <mat-form-field class="add-form-input" appearance="outline">
          <input matInput type="text" formControlName="title"/>
        </mat-form-field>
      </div>
      <div class="content-inputs">
        <div class="content-names">
          <h3 class="name">Description :</h3>
        </div>
        <mat-form-field class="add-form-input" appearance="outline">
            <input matInput type="text" formControlName="description"/>
        </mat-form-field>
      </div>
      <div class="content-inputs">
        <div class="content-names">
          <h3 class="name">Salary :</h3>
        </div>
        <mat-form-field class="add-form-input" appearance="outline">
            <input matInput type="text" formControlName="salary"/>
        </mat-form-field>
      </div>
      <div class="content-inputs">
        <div class="content-names">
          <h3 class="name">Seniority Level :</h3>
        </div>
        <mat-form-field class="add-form-input" appearance="outline">
          <mat-select formControlName="seniorityLevelId">
            <mat-option *ngFor="let seniorityLevel of seniorityLevels$ | async" [value]="seniorityLevel.id"> {{ seniorityLevel.name }} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="content-inputs">
        <div class="content-names">
          <h3 class="name">Vacancy Type :</h3>
        </div>
        <mat-form-field class="add-form-input" appearance="outline">
          <mat-select formControlName="vacancyTypeId">
            <mat-option *ngFor="let vacancyType of vacancyTypes$ | async" [value]="vacancyType.id"> {{ vacancyType.name }} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="content-inputs">
        <div class="content-names">
          <h3 class="name">Vacancy Status :</h3>
        </div>
        <mat-form-field class="add-form-input" appearance="outline">
          <mat-select formControlName="vacancyStatusId">
            <mat-option *ngFor="let vacancyStatus of vacancyStatuses$ | async" [value]="vacancyStatus.id">{{ vacancyStatus.name }} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="content-inputs">
        <div class="content-names">
          <h3 class="name">Recruiters :</h3>
        </div>
        <mat-form-field class="add-form-input" appearance="outline">
          <mat-select formControlName="recruiterId">
            <mat-option *ngFor="let recruiter of recruiters$ | async" [value]="recruiter.id"> {{ recruiter.firstName }} {{ recruiter.lastName }} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="button-wrapper" (click)="addVacancy();">
        <button class="add-button" mat-button>Add Vacancy</button>
      </div>
    </form>
  </div>
</div>
