.vacancy-title {
    text-align: center;
    color: #F8C64D;
    font-size: 1.55rem;
    margin-top: 3rem;
    font-weight: 500;
  }
  
  .add-vacancy-container {
    display: flex;
    justify-content: center;
  }
  
  .content {
    display: flex;
    width: 40rem;
    justify-content: center;
    background-color: #E7EBDC;
    border-radius: 1rem;
    padding: 1rem 1rem 1rem 1rem;
  }
  
  .name {
    margin-top: 1rem;
    margin-right: 3rem;
  }
  
  .content-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.7rem;
  }
  
  .button-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .add-button {
    color: #F8C64D;
    background-color: #2D2F2C;
    border-radius: 0.8rem;
    border-color: #F8C64D;
  }