<h4 class="interview-title">INTERVIEWS</h4>
<div class="interview-cards">
  <div class="add-icon-container">
    <mat-icon class="add-icon" [routerLink]="['create']"> add </mat-icon>
  </div>
  <mat-card class="interview-card" *ngFor="let interview of interviews$ | async" appCardShadow (click)="openInterviewItem(interview)">
    <mat-card-title-group class="title-group">
      <mat-card-title class="title">
        <div class="name">
          {{ interview.title }}
        </div>
        <div class="vacancy-name">
          {{ interview.vacancy.title }}
        </div>
      </mat-card-title>
    </mat-card-title-group>
    <mat-card-content class="content">
      <div class="time">
        {{ interview.startTime | date: 'M/d/yy, h:mm a' }} - {{ interview.endTime | date: 'M/d/yy, h:mm a' }}
      </div>
      <div class="type">
        {{ interview.interviewType.name }}
      </div>
    </mat-card-content>
  </mat-card>
</div>

