<h4 class="recruiter-title">TOP RECRUITERS</h4>
<div class="recruiter-cards">
<mat-card class="recruiter-card" *ngFor="let recruiter of recruiters" appCardShadow>
    <mat-card-content>
        <div class="recruiter-info">
            <div class ="recruiter-img">
                <img mat-card-lg-image src= "{{ recruiter.profileImage }}">
            </div>
            <div>
                <span>{{ recruiter.name }}</span>
            </div>
        </div>
    </mat-card-content>
</mat-card>
</div>
