<h4 class="recruiter-title">RECRUITERS</h4>
<div class="recruiter-cards">
  <mat-card class="recruiter-card" *ngFor="let recruiter of recruiters$ | async" appCardShadow>
    <mat-card-title-group class="title-group">
      <mat-card-title class="title">
        <div class="first-name">
          {{ recruiter.firstName }}
        </div>
        <div class="last-name">
          {{ recruiter.lastName }}
        </div>
      </mat-card-title>
    </mat-card-title-group>
    <mat-card-content class="content">
      <div class="email">
        {{ recruiter.email }}
      </div>
    </mat-card-content>
  </mat-card>
</div>
