.title {
  display: flex;
}

.subtitle {
  display: flex;
  margin-top: 0.8rem;
}

.name,
.time {
  margin-right: 1rem;
}

.candidate {
  margin-bottom: 1rem;
}

.vacancy-name {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.vacancy-wrapper {
  margin-bottom: 3rem;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
}

.button {
  color: #F8C64D;
  background-color: #2D2F2C;
  border-radius: 0.8rem;
  border-color: #F8C64D;
}
