.candidate-title {
    text-align: center;
    color: #F8C64D;
    font-size: 1.55rem;
    margin-top: 3rem;
    font-weight: 500;
  }

  .candidate-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #2D2F2C;
  }

  .candidate-card {
    margin: 0.5rem 15rem;
    background-color: #E7EBDC;
    cursor: pointer;
  }

  .title-group {
    display: flex;
    flex-direction: column;
  }

  .title {
    display: flex;
  }

  .first-name {
    margin-right: 1rem;
  }
  
  .content {
    display: flex;
  }
  
  .phone-number {
    margin-right: 1rem;
  }