<h4 class="candidate-title">CANDIDATES</h4>
<div class="candidate-cards">
  <mat-card class="candidate-card" *ngFor="let candidate of candidates$ | async" appCardShadow (click)="openCandidateItem(candidate)" >
    <mat-card-title-group class="title-group">
      <mat-card-title class="title">
        <div class="first-name">
          {{ candidate.firstName }}
        </div>
        <div class="last-name">
          {{ candidate.lastName }}
        </div>
      </mat-card-title>
    </mat-card-title-group>
    <mat-card-content class="content">
      <div class="phone-number">
        {{ candidate.phoneNumber }}
      </div>
      <div class="email">
        {{ candidate.email }}
      </div>
    </mat-card-content>
  </mat-card>
</div>
