html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.auth-horizontal-stepper .mat-horizontal-stepper-header-container {
  display: none
}

.auth-form-input.mat-form-field-appearance-outline ,
.auth-form-input .mat-form-field-outline,
.auth-form-input.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick,
.auth-form-input.mat-form-field.mat-focused .mat-form-field-label {
  color: #F8C64D;
}

.auth-dialog-container .mat-dialog-container {
  border-radius: 1.2rem
}

.interview-modal-container .mat-dialog-container,
.vacancy-modal-container .mat-dialog-container,
.candidate-modal-container .mat-dialog-container {
  background-color: #E7EBDC;
}
